# OSX
#
.DS_Store

# Build
#
build/

# Dependency directories
#
node_modules/
jspm_packages/

# Jest
#
.jest/

# Coverage directory used by tools like istanbul
#
coverage

# Runtime data
#
pids
*.pid
*.seed
*.pid.lock

# Logs
#
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
#
.npm

# Optional eslint cache
#
.eslintcache

# Output of 'npm pack'
#
*.tgz

# yarn v2
#
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Yarn Integrity file
#
.yarn-integrity

# dotenv environment variables file
#
.env

# Workspace settings
#
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode